// COLOR
$color-darkCyan: #0E8784;
$color-DarkGreyBlue: #333D4B;
$color-PaleOrange: #FDD6BA;
$color-LightCream: #FEFCF7;
$color-grey: #83888F;
$color-hover: #66D2CF;
// FONT
$font-primary: 'Fraunces';